body {
  color: #000;
  font-family: 'Miller Display', Georgia, serif;
  line-height: 1.7;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.abex-tour-primary-color {
  background-color: #c1aa7f !important;
}
.abex-tour-header {
  padding: 28px 0 22px !important;
}
.abex-tour-navigation {
  background-color: rgba(0, 0, 0, 0.8);
  position: -webkit-sticky;
  position: sticky !important;
  top: 0;
  z-index: 101;
}

/* *****************container css start********************* */
.abex-tour-container {
  max-width: 1140px;
}
/* *****************container css end********************* */

button.abex-tour-primary-btn {
  background-color: #c1aa7f !important;
  color: #fff;
}
.abex-tour-nav .nav-item > a {
  color: inherit;
  display: block;
  font-size: 13px;
  font-weight: 500;
  line-height: 60px;
  font-family: 'Circular Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 2.5px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 15px;
}

.abex-tour-nav .nav-item.active > .nav-link {
  background-color: unset !important;
}
.abex-tour-footer {
  background-color: #c1aa7f !important ;
}
.abex-tour-footer-subtitle {
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.1923076923em;
  line-height: 1.4;
  margin-bottom: 0.3076923077em;
  text-transform: uppercase;
}
.abex-tour-footer-link {
  font-family: 'Circular Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.9285714286rem;
  line-height: 1.62;
  font-weight: 400;
}
h1.underlined {
  margin-bottom: 48px;
}
h1.underlined::after {
  background-color: #c1aa7f;
  content: '';
  display: block;
  height: 1px;
  margin: 15px auto 0;
  width: 140px;
}
.padded-section {
  padding-top: 64px;
  padding-bottom: 64px;
}
.why-abex-card {
  box-shadow: unset !important;
}
.why-abex-card {
  background-color: #fff;
  height: 100%;
  margin: 0 auto 1.875rem;
  max-width: 450px;
  padding: 0 2rem;
  text-align: center;
}
.abex-tour-card-header {
  font-size: 1.375rem;
  font-weight: 600;
  margin: 1.7142857143rem 0;
  line-height: 1.33;
  letter-spacing: 0;
}
p.sans-serif {
  font-family: 'Circular Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.why-abex-card .card-body .card-text {
  font-size: 1rem !important;
  font-weight: 500 !important;
  color: #000000 !important;
}
.equalcard {
  display: flex;
  align-items: stretch;
}
.equalcard .card {
  min-width: 100% !important;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: unset !important;
}
.btn-floating {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0;
  margin: 10px;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
    0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 47px;
  height: 47px;
}
.carousel-multi-item .controls-top .btn-floating {
  background: #c1aa7f !important;
}
.btn-floating i {
  display: inline-block;
  width: inherit;
  color: #fff;
  text-align: center;
}
.btn-floating i {
  font-size: 1.25rem;
  line-height: 47px;
}
.controls-top {
  text-align: center;
}
.bg-grey {
  background: #efefef;
}
.controls-top {
  margin-bottom: 1.88rem;
}
.travel-around-container .carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}
.abex-tour-header-dropdown {
  background-color: rgba(0, 0, 0, 0.8);
}
.subtitle-one {
  color: #c1aa7f !important;
}
.subtitle-two {
  color: #ffffff !important;
}
.price-from {
  text-align: center;
  font-family: 'Circular Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 4px;
  color: #c1aa7f;
  letter-spacing: 0.1388888889em;
  line-height: 1.11;
}
.travel-packages-title {
  margin-top: 0;
  font-family: 'Miller Display', Georgia, serif;
  font-weight: 600;
  margin-bottom: 1.5rem !important;
  text-align: center !important;
  line-height: 1.38;
  font-size: 1.375rem !important;
  margin: 1.7142857143rem 0;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  height: 60px;
}
.travel-packages-description {
  flex: 0 1 auto;
  height: 60px;
  overflow: hidden;
  overflow-wrap: break-word;
  text-align: center;
}
body {
  font-family: 'Miller Display', Georgia, serif !important;
  line-height: 1.7 !important;
  position: relative;
  height: 100%;
}
.packages-card-body {
  padding-top: 0 !important;
}
.card-button {
  background-color: #fff;
  overflow: hidden;
  padding: 24px;
  position: relative;
  text-align: center;
}
.t-tag--black {
  color: #000;
}
.t-tag {
  font-size: 0.9285714286rem;
  font-family: 'Circular Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 0.1923076923em;
  line-height: 1.4;
  text-transform: uppercase;
}
.card-button::before {
  background: #c1aa7f;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
}
.card-label {
  display: block;
  margin: 0 auto 16px;
  text-align: center;
}
