body {
  color: #000;
  font-family: 'Miller Display', Georgia, serif;
  line-height: 1.7;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.abex-tour-primary-color {
  background-color: #c1aa7f !important;
}
.abex-tour-header {
  padding: 28px 0 22px !important;
}
.abex-tour-navigation {
  background-color: rgba(0, 0, 0, 0.8);
  position: -webkit-sticky;
  position: sticky !important;
  top: 0;
  z-index: 101;
}

/* *****************container css start********************* */
.abex-tour-container {
  max-width: 1140px;
}
/* *****************container css end********************* */

button.abex-tour-primary-btn {
  background-color: #c1aa7f !important;
  color: #fff;
}
.abex-tour-nav .nav-item > a {
  color: inherit;
  display: block;
  font-size: 13px;
  font-weight: 500;
  line-height: 60px;
  font-family: 'Circular Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 2.5px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 15px;
}

.abex-tour-nav .nav-item.active > .nav-link {
  background-color: unset !important;
}
.abex-tour-footer {
  background-color: #c1aa7f !important ;
}
.abex-tour-footer-subtitle {
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.1923076923em;
  line-height: 1.4;
  margin-bottom: 0.3076923077em;
  text-transform: uppercase;
}
.abex-tour-footer-link {
  font-family: 'Circular Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.9285714286rem;
  line-height: 1.62;
  font-weight: 400;
}
h1.underlined {
  margin-bottom: 48px;
}
h1.underlined::after {
  background-color: #c1aa7f;
  content: '';
  display: block;
  height: 1px;
  margin: 15px auto 0;
  width: 140px;
}
.padded-section {
  padding-top: 64px;
  padding-bottom: 64px;
}
.why-abex-card {
  box-shadow: unset !important;
}
.why-abex-card {
  background-color: #fff;
  height: 100%;
  margin: 0 auto 1.875rem;
  max-width: 450px;
  padding: 0 2rem;
  text-align: center;
}
.abex-tour-card-header {
  font-size: 1.375rem;
  font-weight: 600;
  margin: 1.7142857143rem 0;
  line-height: 1.33;
  letter-spacing: 0;
}
p.sans-serif {
  font-family: 'Circular Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.why-abex-card .card-body .card-text {
  font-size: 1rem !important;
  font-weight: 500 !important;
  color: #000000 !important;
}
.equalcard {
  display: flex;
  align-items: stretch;
}
.equalcard .card {
  min-width: 100% !important;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: unset !important;
}
.btn-floating {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0;
  margin: 10px;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
    0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 47px;
  height: 47px;
}
.carousel-multi-item .controls-top .btn-floating {
  background: #c1aa7f !important;
}
.btn-floating i {
  display: inline-block;
  width: inherit;
  color: #fff;
  text-align: center;
}
.btn-floating i {
  font-size: 1.25rem;
  line-height: 47px;
}
.controls-top {
  text-align: center;
}
.bg-grey {
  background: #efefef;
}
.controls-top {
  margin-bottom: 1.88rem;
}
.travel-around-container .carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}
.abex-tour-header-dropdown {
  background-color: rgba(0, 0, 0, 0.8);
}
.subtitle-one {
  color: #c1aa7f !important;
}
.subtitle-two {
  color: #ffffff !important;
}
.price-from {
  text-align: center;
  font-family: 'Circular Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 4px;
  color: #c1aa7f;
  letter-spacing: 0.1388888889em;
  line-height: 1.11;
}
.travel-packages-title {
  margin-top: 0;
  font-family: 'Miller Display', Georgia, serif;
  font-weight: 600;
  margin-bottom: 1.5rem !important;
  text-align: center !important;
  line-height: 1.38;
  font-size: 1.375rem !important;
  margin: 1.7142857143rem 0;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  height: 60px;
}
.travel-packages-description {
  flex: 0 1 auto;
  height: 60px;
  overflow: hidden;
  overflow-wrap: break-word;
  text-align: center;
}
body {
  font-family: 'Miller Display', Georgia, serif !important;
  line-height: 1.7 !important;
  position: relative;
  height: 100%;
}
.packages-card-body {
  padding-top: 0 !important;
}
.card-button {
  background-color: #fff;
  overflow: hidden;
  padding: 24px;
  position: relative;
  text-align: center;
}
.t-tag--black {
  color: #000;
}
.t-tag {
  color: #c1aa7f;
  font-size: 0.9285714286rem;
  font-family: 'Circular Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 0.1923076923em;
  line-height: 1.4;
  text-transform: uppercase;
}
.t-tag:hover {
  color: #c1aa7f;
}
.card-button::before {
  background: #c1aa7f;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
}
.card-label {
  display: block;
  margin: 0 auto 16px;
  text-align: center;
}
.abex-tour-nav .nav-item .dropdown > a {
  color: inherit;
  display: block;
  font-size: 13px;
  font-weight: 500;
  line-height: 60px;
  font-family: 'Circular Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 2.5px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 15px;
}
.abex-tour-dropdown {
  background-color: rgba(0, 0, 0, 0.8) !important;
}
.navbar .dropdown-menu a:not(.active) {
  color: #c1aa7f !important;
}
.abex-tour-dropdown {
  border-radius: 0 !important;
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
}
.abex-tour-drop-down-item {
  display: inline !important;
}
.abex-tour-primary-heading {
  font-size: 6.25rem;
  line-height: 1;
  margin: 0 0 20px;
  font-family: Aileron;
  font-weight: 400;
}
@media only screen and (max-width: 600px) {
  .abex-tour-primary-heading {
    font-size: 1rem !important;
  }
  .passport-CarouselCaption {
    text-shadow: 1px 1px 11px #000;
    height: auto !important;
    z-index: 99999 !important;
    top: 2px !important;
    width: 97% !important;
    position: absolute !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    padding: 6px 10px !important;
    line-height: 1.5;
    margin-bottom: 0 !important;
    font-size: 2em !important;
    bottom: unset !important;
  }
}

.navbar .abex-tour-dropdown a:hover {
  background-color: rgba(0, 0, 0, 0.08) !important;
  color: #fff !important;
}
.abex-tour-navigation {
  padding: 0 !important;
}
.location-list {
  display: none;
}
@media (min-width: 544px) {
  .location-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0 0 32px;
    padding: 0;
    text-align: center;
  }
}
.location-list__item {
  flex: 0 1 auto;
  position: relative;
  transition: all 0.3s ease-out;
}
.location-list__link {
  color: #c1aa7f;
  text-decoration: none;
}
.location-list__item + .location-list__item {
  border-left: 1px solid #c1aa7f;
  padding-left: 20px;
  margin-left: 20px;
}
.t-large {
  font-size: 1.1428571429rem;
}
.centered-text-row {
  justify-content: center;
}
.location-list__link:hover {
  color: #73664c;
  text-decoration: none;
}
.how-we-work-item {
  margin: 0 auto;
  width: 100%;
}
.row-full-width {
  margin: 0;
  padding: 0;
}
.row-flex {
  display: flex !important;
  flex-wrap: wrap !important;
}
.list-pod {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 40px 75px;
  text-align: left;
  height: 100%;
}
.list-pod__title {
  text-align: center;
}
@media (min-width: 992px) {
  .list-pod__list--split {
    columns: 2;
  }
}
.list-pod__list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
.list-pod__list--split li {
  break-inside: avoid;
}

.list-pod__list li {
  overflow: hidden;
  width: 100%;
}
.list-pod__list li img {
  float: left;
  margin: 2px 15px 0 0;
}
.list-pod__list li span {
  display: block;
  margin-left: 36px;
}
@media (min-width: 992px) {
  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }
}
.list-pod h2 {
  font-weight: 600;
  margin: 1.7142857143rem 0;
}
.cta-bespoke-experience {
  margin: 60px 0 0;
}
.cta-bespoke-experience.h2 {
  font-weight: 600 !important;
}
@media (min-width: 992px) {
  .example-trip-map .map-wrapper {
    margin: 0;
    padding: 0 0.9375rem;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
.example-trip-map .map-wrapper {
  height: 100%;
  margin: 0 0 25px;
  overflow: hidden;
  padding: 0;
}
.example-trip-map__padding {
  padding: 80px 120px;
}
.tab-content.current {
  display: inherit;
  font-family: 'Miller Display', Georgia, serif;
  line-height: 1.7;
}
.form-header + .enquiry-section {
  margin-top: 2rem;
}
.form-enquiry {
  font-family: 'Circular Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.form-enquiry .form-section {
  background-color: #efefef;
  padding: 30px;
}
.form-enquiry .form-section strong.form-heading {
  border-bottom: none;
  font-family: 'Miller Display', Georgia, serif;
  text-transform: none;
  letter-spacing: 0;
  font-size: 22px;
  font-weight: 600;
}
.form-section .form-heading:first-of-type {
  margin-top: 0;
}
.form-section .form-group {
  margin-bottom: 1.5rem;
}
.form-section .form-group label {
  font-weight: 400;
  font-family: 'Circular Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
  display: block;
}
.form-enquiry ul.tags {
  list-style: none;
  margin: 0 0 15px;
  padding: 0;
}
.destinations-wrap {
  position: relative;
  height: 60px;
  border-radius: 2px !important;
  background-color: #fff;
  width: 60%;
  display: inline-block;
  vertical-align: middle;
}
.form-enquiry input[type='text'].icon-location {
  background-image: url(https://www.jacadatravel.com/wp-content/themes/jacada/assets/css/../images/icon-location.svg);
}
input[type='text'].icon {
  background-repeat: no-repeat;
  background-position: center left 1rem;
  background-size: 20px;
  padding-left: 50px;
}
.destinations-wrap input[type='text'] {
  background-color: transparent !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.destinations-wrap .form-control {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.destinations-wrap input[type='text'].destinations-suggestion {
  padding-left: 40px;
  opacity: 0.5;
  z-index: 0;
}
.destinations-wrap-btn {
  cursor: pointer !important;
  font-size: 15px;
  font-size: 0.9375rem !important;
  height: 41px;
  letter-spacing: 0;
  margin-left: 10px !important;
  padding: 0 1.25rem !important;
  position: relative;
  text-transform: none !important;
  display: inline-block !important;
  z-index: 2;
  vertical-align: middle !important;
}
.destinations-wrap-btn.btn-primary {
  background-color: #c1aa7f !important;
  color: #fff !important;
}
.form-enquiry .optional,
.form-enquiry .required {
  color: #b2b2b2;
  font-style: normal;
  letter-spacing: 0;
  text-transform: none;
}
.form-enquiry select,
.form-enquiry input[type='number'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(https://www.jacadatravel.com/wp-content/themes/jacada/assets/css/../images/icon-arrow-down-black.svg);
  background-position: right 15px center;
  background-repeat: no-repeat;
  border-radius: 0;
  cursor: pointer;
  min-width: 100px;
  padding-right: 30px;
  width: 30%;
}
.form-enquiry .form-section select {
  width: 100%;
}
select.form-control {
  color: #b2b2b2;
}
.form-control {
  height: 60px !important;
}
.form-enquiry .form-section + .form-section {
  margin-top: 30px;
}
.form-enquiry textarea.icon {
  background-position: top 1.5rem left 1rem;
}
.form-enquiry select.icon-pencil,
.form-enquiry textarea.icon-pencil,
.form-enquiry input[type='email'].icon-pencil,
.form-enquiry input[type='number'].icon-pencil,
.form-enquiry input[type='text'].icon-pencil,
.form-enquiry input[type='tel'].icon-pencil,
.form-enquiry input[type='url'].icon-pencil,
.form-enquiry input[type='password'].icon-pencil,
.form-enquiry input[type='date'].icon-pencil {
  background-image: url(https://www.jacadatravel.com/wp-content/themes/jacada/assets/css/../images/icon-pencil.svg);
}
.form-enquiry select.icon,
.form-enquiry textarea.icon,
.form-enquiry input[type='email'].icon,
.form-enquiry input[type='number'].icon,
.form-enquiry input[type='text'].icon,
.form-enquiry input[type='tel'].icon,
.form-enquiry input[type='url'].icon,
.form-enquiry input[type='password'].icon,
.form-enquiry input[type='date'].icon {
  background-repeat: no-repeat;
  background-position: center left 1rem;
  background-size: 20px;
  padding-left: 50px;
}
textarea.form-control {
  height: auto !important;
  padding: 15px;
  resize: none;
}
.form-enquiry textarea.icon {
  background-position: top 1.5rem left 1rem;
}
.custom-select {
  height: unset !important;
  padding: unset !important;
}
.custom-select::before {
  background: no-repeat center/12px
    url(https://www.jacadatravel.com/wp-content/themes/jacada/assets/css/../images/icon-arrow-down-black.svg);
  content: '';
  display: block;
  height: 100%;
  position: relative;
  top: 42.5%;
  right: 58px;
  pointer-events: none;
  width: 15px;
}
.form-enquiry select.icon-default {
  background-image: url(https://www.jacadatravel.com/wp-content/themes/jacada/assets/css/../images/icon-default.svg);
}
.intl-tel-input {
  position: relative;
  display: inline-block;
  width: 100%;
}
.intl-tel-input.allow-dropdown .flag-container,
.intl-tel-input.separate-dial-code .flag-container {
  right: auto;
  left: 0;
}
.intl-tel-input .flag-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 1px;
}
.intl-tel-input .country-list {
  position: absolute;
  z-index: 2;
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0 0 0 -1px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border: 1px solid #ccc;
  white-space: nowrap;
  max-height: 200px;
  overflow-y: scroll;
}
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 .selected-flag {
  width: 115px;
}
.intl-tel-input.separate-dial-code .selected-flag {
  display: table;
}
.intl-tel-input .selected-flag {
  height: 100%;
  padding: 0 15px;
  position: relative;
  width: 36px;
  z-index: 1;
}
.intl-tel-input .selected-flag .iti-flag {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.iti-flag.et {
  height: 10px;
  background-position: -1577px 0;
}
.iti-flag {
  width: 20px;
  height: 14px;
  box-shadow: 0 0 1px 0 #888;
  background-image: url(https://www.jacadatravel.com/wp-content/themes/jacada/assets/css/../images/flags.png);
  background-repeat: no-repeat;
}
.intl-tel-input.separate-dial-code .selected-dial-code {
  display: table-cell;
  vertical-align: middle;
  padding-left: 28px;
}
.intl-tel-input .selected-flag .iti-arrow {
  background-image: url(
    data:image/svg + xml;utf8,
    <svgxmlns='http://www.w3.org/2000/svg'width='12'…ints='1.3 0 5.7 4.4 10 0 11.4 1.3 5.7 7 0 1.3'/></g></g></g></g></g></svg>
  );
  border: 0;
  height: 7px;
  right: 12px;
  width: 12px;
  position: absolute;
  top: 50%;
  margin-top: -2px;
}
.intl-tel-input .selected-flag::after {
  border-right: 1px solid #ccc;
  content: '';
  height: 60%;
  position: absolute;
  top: 20%;
  right: 0;
}
.form-enquiry input[type='checkbox'] {
  background: #efefef;
  border-radius: 2px;
  border: 1px solid #ccc;
}
.lg-checkbox input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  right: 9999999px;
}
.form-enquiry .consent .consent-text {
  margin: 0 0 1.5rem;
}
.lg-checkbox {
  margin-left: 2.5rem !important;
  margin-top: 1rem !important;
}
.form-enquiry .consent {
  margin: 2.5rem 0 0;
}
.form-enquiry .consent .consent-text p {
  color: #474747;
  display: block;
  margin: 0;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 2rem;
  max-width: 350px;
}
.lg-checkbox p,
.lg-checkbox label {
  position: relative;
  max-width: none !important;
}
.lg-checkbox p:before,
.lg-checkbox label:before {
  content: '';
  position: absolute;
  top: 2px;
  left: -35px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solidÂ #ccc;
}
.btn-dark-primary {
  background-color: #73664c !important;
  color: #fff !important;
}
.btn-lg {
  font-size: 16px;
  padding: 20px 30px;
}
/* ******************start Trip Iternary css******************* */
.example-trip-itinerary {
  position: relative;
}

@media (min-width: 544px) {
  .padded-section {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
@media (min-width: 544px) {
  h2.underlined {
    margin-bottom: 48px;
  }
}
h2.underlined {
  text-align: center;
}
.h1.underlined::after,
h1.underlined::after,
.h2.underlined::after,
h2.underlined::after,
.h3.underlined::after,
h3.underlined::after,
.h4.underlined::after,
h4.underlined::after,
.h5.underlined::after,
h5.underlined::after,
.h6.underlined::after,
h6.underlined::after {
  background-color: #c1aa7f;
  content: '';
  display: block;
  height: 1px;
  margin: 15px auto 0;
  width: 140px;
}
.information-break {
  background: #73664c;
  color: #fff;
  font-size: 13px;
  font-size: 0.8125rem;
  padding: 14px 25px;
  width: 100%;
  text-align: center;
  font-family: 'Circular Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 0.1923076923em;
  text-transform: uppercase;
}
.information-break__content {
  padding: 30px 40px;
  background-color: #f3eee5;
  text-align: center;
  margin-bottom: 40px;
}
.flights-transfers__title {
  margin-bottom: 16px;
  position: relative;
  text-align: center;
  width: 100%;
}
.flights-transfers__title h3,
.flights-transfers__title .h3 {
  display: inline-block;
  background-color: #fff;
  padding: 20px;
  position: relative;
  z-index: 1;
  margin: 0;
}
.flights-transfers__title::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #c1aa7f;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.flights-transfers__container {
  background-color: #eee;
  padding: 32px;
}
.flights-transfers__pod {
  height: 100%;
  text-align: center;
  width: 100%;
}
.flights-transfers__sub-title {
  display: inline-block;
  margin: 0;
  position: relative;
}
.flights-transfers__sub-title--transfer::before {
  background-image: url(https://www.jacadatravel.com/wp-content/themes/jacada/assets/css/../images/icon-arrow-gold.svg);
}
.flights-transfers__sub-title::before {
  content: '';
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
}
.activity_wrap {
  margin-bottom: 80px;
  margin-top: 5%;
}
.activity-image picture,
.activity-image img {
  display: block;
  max-width: 100%;
}
.activities {
  margin-top: 40px;
}
.activities__title-icon {
  vertical-align: top;
  margin-right: 10px;
  display: inline-block;
}
.activities__title span {
  display: inline-block;
  width: calc(100% - 40px);
}
.activities__description {
  padding-left: 35px;
}
@media (min-width: 992px) {
  .tip-box {
    display: block !important;
  }
}

.tip-box {
  width: 75%;
  background-color: #fff;
  display: none;
  margin: 0 auto 40px;
  box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.1);
  padding: 15px 30px;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all 0.3s ease-out;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@media (min-width: 991px) {
  .row-flex-md > div {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
  }
}

.tip-box__lightbulb {
  background-image: url(https://www.jacadatravel.com/wp-content/themes/jacada/assets/css/../images/icon-lightbulb.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 34px;
  display: block;
  margin: 0 auto 5px;
}
.tip-box__instruction {
  font-family: 'Circular Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #474747;
}
.tip-box__arrow {
  display: block;
  position: relative;
  height: 30px;
  margin-left: -8px;
}
.tip-box__arrow .arrows {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  transform: translate(-50%, -50%);
}
.tip-box__arrow .arrows:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 3px solid rgba(193, 170, 127, 0.7);
  border-bottom: 3px solid rgba(193, 170, 127, 0.7);
  transform: translate(3px, 12px) rotate(-45deg);
  animation: arrows 2s linear infinite;
}
.floating-navigation {
  display: none;
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  z-index: 5;
}
@media (min-width: 992px) {
  .floating-navigation {
    display: block;
  }
}
.floating-navigation .location {
  background-color: #f3eee5;
  height: 45px;
  padding: 14px 25px;
  margin-bottom: 3px;
  position: relative;
  transition: all 0.2s ease-out;
}
.floating-navigation .location.active {
  background-color: #73664c;
}
.floating-navigation .location.active::before {
  border-right-color: #73664c;
}
.floating-navigation .location::before {
  border-style: solid;
  border-color: transparent;
  border-width: 22.5px 24px 22.5px 0;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  left: -24px;
  top: 0;
  transition: border-color 0.2s ease-out;
  width: 0;
}
.floating-navigation .location a {
  color: inherit;
  display: block;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}
.floating-navigation .location.active a {
  color: #fff;
}
@media (min-width: 768px) {
  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }
}
.floating-navigation .location a {
  font-size: 0.8125rem;
  font-family: 'Circular Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 0.1923076923em;
  text-transform: uppercase;
}
.floating-navigation .call {
  text-align: center;
  background-color: #f3eee5;
  padding: 30px 15px;
  font-size: 1.125rem;
  line-height: 25px;
}
.floating_navigation__price {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}
.floating-nav__price-from.price-from {
  margin-bottom: 10px;
}
.floating-nav__price-from.price-from {
  font-size: 0.8125rem;
  font-family: 'Circular Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 0.1923076923em;
  text-transform: uppercase;
  color: #212529;
}
.floating-nav__price {
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: 400;
}
.floating-nav__price-pp {
  font-size: 15px;
}
.v-align {
  display: inline-block;
  vertical-align: middle;
}
.ui-font {
  font-size: 0.8125rem;
  font-family: 'Circular Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 0.1923076923em;
  text-transform: uppercase;
}
.floating-navigation .call a.tel {
  color: inherit;
  font-size: 1.425rem;
  padding: 16px 8px;
}

.floating-navigation .call a {
  display: inline-block;
  text-decoration: none;
}
.example-trip-section + .example-trip-section {
  padding-top: 60px;
}
.img-responsive {
  height: auto;
  max-width: 100%;
}
/* ******************end Trip Iternary css******************* */
/* ******************start headr drop down menu css**************** */

ul.abex-tour-nav > li > .sub-menu {
  background-color: #000;
  display: none;
  height: 580px;
  margin: 0;
  padding: 40px 0;
  top: 60px;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
ul.abex-tour-nav > .wide > .sub-menu {
  width: auto;
  left: 0;
  right: auto;
  height: auto;
  padding: 20px 0 0 0;
  min-height: 420px;
}

ul.abex-tour-nav li.active > ul {
  display: block;
  z-index: 1;
}
ul.abex-tour-nav > .wide > .sub-menu > li {
  height: auto;
}
ul.abex-tour-nav > .wide > ul > li {
  position: static;
}
ul.abex-tour-nav > .wide > .sub-menu > li > a {
  position: relative;
}
ul.abex-tour-nav > .wide > .sub-menu > li > a {
  transition: all 0.2s ease-out;
  background-color: #000;
  height: auto;
  padding: 15px 40px 15px 20px;
  margin-bottom: 0;
  position: relative;
  min-width: 270px;
}
ul.abex-tour-nav > li > .sub-menu > li > a {
  color: #c1aa7f;
  display: block;
  padding: 0;
  height: 42px;
  line-height: 1.38;
  margin-bottom: 6px;
}
ul.abex-tour-nav > .wide > .sub-menu > li > a:after {
  content: '';
  background-image: url(https://www.jacadatravel.com/wp-content/themes/jacada/assets/css/../images/icon-arrow-right-gold.svg);
  width: 14px;
  height: 14px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 10px;
  top: 15px;
}
.main-menu-item.active {
  background-color: #000;
}
ul.abex-tour-nav ul,
ul.abex-tour-nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.abex-tour-nav li .dropdown {
  position: absolute;
  width: auto;
  top: 100%;
  right: 0;
  left: auto !important;
}
ul.abex-tour-nav > .wide > .sub-menu > li:hover > a {
  color: #fff;
  padding-left: 25px;
}
ul.abex-tour-nav > .wide > .sub-menu > li ul {
  background-color: #000;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
}
ul.abex-tour-nav > li > ul > li > ul {
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-transform: none;
  width: 100%;
}
ul.abex-tour-nav > .wide > .sub-menu > li ul > li:first-child {
  padding-top: 20px;
}
ul.abex-tour-nav > .wide > .sub-menu > li ul > li {
  background-color: #000;
  padding-left: 40px;
}
ul.abex-tour-nav > .wide > ul > li > ul li {
  height: auto;
}
ul.abex-tour-nav > li > ul > li > ul li {
  font-weight: 400;
  position: relative;
  height: 24px;
  text-transform: none;
  width: 100%;
}
ul.abex-tour-nav > .wide > ul > li > ul li a {
  display: block;
  background-color: #000;
  padding: 5px 20px;
  transition: all 0.2s ease-out;
}
ul.abex-tour-nav > li > ul > li > ul li a {
  font-size: 14px;
  text-transform: none;
  font-weight: 400;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Circular Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 0;
}
ul.abex-tour-nav > li > ul > li > ul a {
  color: #fff !important;
}
ul.abex-tour-nav > .wide > ul > li > ul {
  display: none;
}
.focus ul {
  display: block !important;
}
/* ******************end header drop down menu css**************** */
/* ******************start scroll nav css********************* */
.component-scroll-to-navigation {
  height: 65px;
}
#scroll-to-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 120;
}
#scroll-to-nav .navigation-d {
  background-color: #fff;
  border-bottom: 1px solid #efefef;
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
}
ul.tab-bar {
  display: inline-block;
  margin: 0;
  text-align: left;
}
@media (min-width: 768px) {
  ul.tab-bar li {
    margin: 0 15px;
  }
}

ul.tab-bar li {
  display: inline-block;
  margin: 0 10px;
  padding: 0;
}
ul.tab-bar li a.active {
  border-color: #c1aa7f;
  color: #000;
}
ul.tab-bar li a {
  border-bottom: 1px solid transparent;
  color: #b2b2b2;
  display: inline-block;
  padding: 21px 0 22px;
  text-decoration: none;
}
ul.tab-bar li a {
  font-size: 0.8125rem;
  font-family: 'Circular Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 0.1923076923em;
  text-transform: uppercase;
}

#scroll-to-nav .navigation-d .number-d {
  color: #292929;
  float: right;
  display: none;
  margin-top: 10px;
  letter-spacing: 2px;
  text-align: right;
}

.container::after {
  content: '';
  display: table;
  clear: both;
}
#scroll-to-nav .navigation-d .number-d {
  color: #292929;
  float: right;
  display: none;
  margin-top: 10px;
  letter-spacing: 2px;
  text-align: right;
}
#scroll-to-nav .navigation-d .number-d .number a {
  color: #000;
  font-size: 22px;
  font-size: 1.375rem;
  letter-spacing: 0.025em;
  margin-right: 32px;
  text-decoration: none;
}
@media (min-width: 1200px) {
  #scroll-to-nav .navigation-d .number-d {
    margin-top: 10px;
  }
}

@media (min-width: 992px) {
  #scroll-to-nav .navigation-d .number-d {
    display: block;
  }
}
.number-d .btn-primary {
  background-color: #c1aa7f !important;
  color: #fff;
}
@media (max-width: 767px) {
  .component-scroll-to-navigation {
    display: none;
  }
}

/* ******************end scroll nav css********************* */

/* ******************start Intro Section css********************* */
@media (min-width: 992px) {
  .content-col-1 + .content-col-2 {
    margin-top: 0;
  }
  .team-quote {
    text-align: left;
  }
}
.quote-mark {
  text-align: center;
}

.quote-mark svg {
  display: inline-block;
  float: none;
  height: 26px;
  margin: 0 0.6em 1em;
  width: 34px;
}
@media (min-width: 768px) {
  .quote-mark svg {
    height: auto;
    width: 100%;
  }
}
.quote-mark svg.quote-alt {
  display: none;
}
.team-quote p {
  font-style: italic;
  margin-top: 0;
}
.component-content-text a:hover {
  color: #000;
  text-decoration: underline;
}
.component-content-text a {
  color: #000;
  text-decoration: underline;
}
.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
  font-weight: 600;
  margin: 1.7142857143rem 0;
}
/* ******************end Intro Section css********************* */
/* ******************start Destination css********************* */
picture.behave-like-bg,
picture.behave-like-bg img {
  height: 100%;
  width: 100%;
}
picture.behave-like-bg {
  position: absolute;
  top: 0;
  left: 0;
}
.locations-grid__image {
  display: block;
}
.locations-grid__item-inner::before {
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.locations-grid__item-inner::before,
.locations-grid__item-inner::after {
  content: '';
  position: absolute;
}
.locations-grid__item-inner {
  background: #666;
  display: block;
  height: 20vw;
  position: relative;
}
picture.behave-like-bg img {
  -o-object-position: center;
  object-position: center;
  -o-object-fit: cover;
  object-fit: cover;
  font-family: 'object-fit: cover; object-position: center;';
}

picture.behave-like-bg,
picture.behave-like-bg img {
  height: 100%;
  width: 100%;
}
.locations-grid__image img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.locations-grid__title {
  color: #fff;
  font-size: 13px;
  font-size: 0.9285714286rem;
  font-family: 'Circular Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4;
  letter-spacing: 0.1923076923em;
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 52px;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 3;
}
.locations-grid__item-inner::after {
  display: block;
  height: 20px;
  right: 15px;
  bottom: 15px;
  width: 20px;
  z-index: 2;
}

.locations-grid__item-inner::before,
.locations-grid__item-inner::after {
  content: '';
  position: absolute;
}
.locations-grid__item.col-lg-3 {
  padding-right: unset;
  padding-left: unset;
}
@media (min-width: 992px) {
  .locations-grid__item {
    flex-basis: 25%;
    max-width: 25%;
  }
}
@media (min-width: 768px) {
  .locations-grid__item {
    flex-basis: 33.3333%;
    max-width: 33.3333%;
  }
}

@media (min-width: 544px) {
  .locations-grid {
    display: flex;
    flex-wrap: wrap;
    margin: -4px;
  }
  .locations-grid__item {
    padding: 4px !important;
    flex-basis: 50%;
    max-width: 50%;
  }
  .locations-grid__item {
    flex: 0 1 auto;
    overflow: hidden;
    padding-bottom: 2px;
    text-align: left;
  }
  .locations-grid__item-inner {
    height: 180px;
    margin: 0;
  }
  .locations-grid__item-inner::before {
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0)
    );
  }
}

/* ******************end Destination css********************* */
/* ******************start contact us css ******************* */
.btn-default a {
  color: #fff !important;
}

.hero-cover {
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 320px;
  position: relative;
}
.hero-cover--auto {
  display: block;
  min-height: auto;
  padding-top: 32px;
}
.hero-cover__content-container {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 48px 16px;
  pointer-events: none;
  position: relative;
  text-align: center;
  transition: all 0.3s ease-out;
  width: 100%;
  z-index: 2;
}
@media (min-width: 544px) {
  h1.serif,
  .h1.serif {
    font-size: 50px;
    font-size: 3.125rem;
  }
}

h1.serif,
.h1.serif {
  font-size: 28px;
  font-size: 2.1538461538rem;
  font-family: 'Miller Display', Georgia, serif;
  line-height: 1.36;
}
.h1:first-child,
h1:first-child,
.h2:first-child,
h2:first-child,
.h3:first-child,
h3:first-child,
.h4:first-child,
h4:first-child,
.h5:first-child,
h5:first-child,
.h6:first-child,
h6:first-child {
  margin-top: 0;
}

.hero-cover__primary-heading {
  margin-bottom: 30px !important;
  color: #fff;
}
.hero-cover__primary-heading--black {
  color: #000;
}

.trustpilot-box {
  margin: 2rem 0;
  text-align: center;
}
@media (min-width: 992px) {
  .trustpilot-box {
    margin: 0 0 2rem;
  }
}
.trustpilot-box-top {
  background: #c1aa7f;
  color: #fff;
  padding: 32px;
}
.h1.no-margin,
h1.no-margin,
.h2.no-margin,
h2.no-margin,
.h3.no-margin,
h3.no-margin,
.h4.no-margin,
h4.no-margin,
.h5.no-margin,
h5.no-margin,
.h6.no-margin,
h6.no-margin {
  margin: 0;
}
.trustpilot-box-top p,
.trustpilot-box-bottom p {
  margin: 0;
  padding: 0;
}
.t-link--white {
  color: #fff !important;
}
@media (min-width: 544px) {
  h3,
  .h3 {
    font-size: 22px;
    font-size: 1.375rem;
  }
}
.trustpilot-box-bottom {
  background: #efefef;
  padding: 32px;
}
.trustpilot-box-top p,
.trustpilot-box-bottom p {
  margin: 0;
  padding: 0;
}
.enquiry-section .points {
  padding-bottom: 32px;
}

.enquiry-section .points .point {
  margin: 0 auto;
  max-width: 350px;
  padding: 4rem 1.5rem 0;
  text-align: center;
  width: 100%;
}
.enquiry-section .points .point .cta-icon {
  display: block;
  margin: 0 auto 10px;
  width: 65px;
}
.cta-icon {
  height: 58px;
}
@media (min-width: 992px) {
  .enquiry-section .points .point {
    text-align: left;
  }
  .enquiry-section .points .point .cta-icon {
    margin-bottom: 0;
  }
}
.row::after {
  content: '';
  display: table;
  clear: both;
}
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 input,
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 input[type='tel'] {
  padding-left: 130px;
}
.form-enquiry ul.tags li {
  background: #666;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  line-height: 1.62;
  margin-right: 8px;
  padding: 0 0.5rem;
  margin-bottom: 5px;
}
.form-enquiry ul.tags li::after {
  content: 'x';
  margin-left: 0.5rem;
}
.form-enquiry ul.tags li:hover {
  opacity: 0.8;
}
.intl-tel-input .hide {
  display: none;
}
select.form-control.has-value {
  color: #000;
}
.custom-select::before {
  background: no-repeat center/12px
    url(https://www.jacadatravel.com/wp-content/themes/jacada/assets/images/icon-arrow-down-black.svg);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: -14px;
  right: 55px;
  pointer-events: none;
  width: 15px;
}

.lg-checkbox p:before,
.lg-checkbox label:before {
  content: '';
  position: absolute;
  top: 2px;
  left: -35px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
}
.lg-checkbox input[type='checkbox']:checked + p::before,
.lg-checkbox input[type='checkbox']:checked + label::before {
  background-image: url(https://www.jacadatravel.com/wp-content/themes/jacada/assets/images/icon-tick-gold.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}
.intl-tel-input .country-list .country {
  padding: 5px 10px;
}
.intl-tel-input .country-list .flag-box,
.intl-tel-input .country-list .country-name {
  margin-right: 6px;
}
.intl-tel-input .country-list .flag-box,
.intl-tel-input .country-list .country-name,
.intl-tel-input .country-list .dial-code {
  vertical-align: middle;
}
.intl-tel-input .country-list .flag-box {
  display: inline-block;
  width: 20px;
}
.form-enquiry .error-message {
  background: #ffecec;
  color: #e64a4a;
  font-size: 14px;
  margin: 8px 0 0;
  padding: 0.5rem 1rem;
}
.form-enquiry .error-message::before {
  content: '';
  display: block;
}
.iti-flag.us {
  height: 11px;
  background-position: -5241px 0;
}
.iti-flag.gb {
  height: 10px;
  background-position: -1775px 0;
}
.iti-flag.ca {
  height: 10px;
  background-position: -834px 0;
}
.iti-flag.hk {
  background-position: -2171px 0;
}
.iti-flag.au {
  height: 10px;
  background-position: -286px 0;
}
.iti-flag.sg {
  background-position: -4449px 0;
}
.iti-flag.af {
  background-position: -66px 0;
}
.iti-flag.al {
  height: 15px;
  background-position: -132px 0;
}
.iti-flag.dz {
  background-position: -1401px 0;
}
.iti-flag.as {
  height: 10px;
  background-position: -242px 0;
}
.iti-flag.ad {
  background-position: -22px 0;
}
.iti-flag.ao {
  background-position: -176px 0;
}
.iti-flag.ai {
  height: 10px;
  background-position: -110px 0;
}
.iti-flag.ag {
  background-position: -88px 0;
}
.iti-flag.ar {
  height: 13px;
  background-position: -220px 0;
}
.iti-flag.am {
  height: 10px;
  background-position: -154px 0;
}
.iti-flag.aw {
  background-position: -308px 0;
}
.iti-flag.au {
  height: 10px;
  background-position: -286px 0;
}
.iti-flag.at {
  background-position: -264px 0;
}
.iti-flag.az {
  height: 10px;
  background-position: -352px 0;
}
.iti-flag.bs {
  height: 10px;
  background-position: -702px 0;
}
.iti-flag.bh {
  height: 12px;
  background-position: -504px 0;
}
.iti-flag.bd {
  height: 12px;
  background-position: -418px 0;
}
.iti-flag.bb {
  background-position: -396px 0;
}
.iti-flag.by {
  height: 10px;
  background-position: -790px 0;
}
.iti-flag.be {
  height: 15px;
  background-position: -440px 0;
}
.iti-flag.bz {
  background-position: -812px 0;
}
.iti-flag.bj {
  background-position: -548px 0;
}
.iti-flag.bm {
  height: 10px;
  background-position: -592px 0;
}
.iti-flag.bt {
  background-position: -724px 0;
}
.iti-flag.bo {
  background-position: -636px 0;
}
.iti-flag.ba {
  height: 10px;
  background-position: -374px 0;
}
.iti-flag.bw {
  background-position: -768px 0;
}
.iti-flag.br {
  background-position: -680px 0;
}
.iti-flag.io {
  height: 10px;
  background-position: -2435px 0;
}
.iti-flag.vg {
  height: 10px;
  background-position: -5368px 0;
}
.iti-flag.bn {
  height: 10px;
  background-position: -614px 0;
}
.iti-flag.bg {
  height: 12px;
  background-position: -482px 0;
}
.iti-flag.bf {
  background-position: -460px 0;
}
.iti-flag.bi {
  height: 12px;
  background-position: -526px 0;
}
/* ******************end contact us css ******************* */
/* ******************start our story css ******************* */

.content-section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 0;
  position: relative;
}

.content-section .container-wrap {
  overflow-x: hidden;
}
.content-section .container-wrap {
  position: relative;
  z-index: 3;
}
@media (min-width: 768px) {
  .content-section {
    padding: 80px 0;
  }
}
.content-section .row {
  position: relative;
}
@media (min-width: 992px) {
  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }
}
.content-section.has-bg-img {
  color: #fff;
  position: relative;
  overflow: hidden;
}
.content-section.has-bg-img::before {
  background: rgba(0, 0, 0, 0.5);
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.content-section-bg-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.content-section-bg-img img {
  height: 100%;
  width: 100%;
}
.row-flex > div {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
}

@media (min-width: 768px) {
  .col-md-push-7 {
    left: 58.3333333333%;
  }
}
.row-flex > div {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
}

@media (min-width: 768px) {
  .col-md-pull-5 {
    right: 41.6666666667%;
  }
}

.content-section .image {
  margin: 30px 0 0;
  width: 100%;
}
@media (min-width: 768px) {
  .content-section .image {
    margin: 0;
  }
}
.content-section .image img {
  height: auto;
  max-width: 100%;
}
.content-section .container-wrap.double + .container-wrap.double {
  margin-top: 65px;
}
.button-container .btn-primary {
  background: #c1aa7f !important;
  color: #fff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:focus:active {
  color: #73664c !important;
}
.wrapper.double a {
  color: #000 !important;
  text-decoration: underline;
}
/* ******************end our story css ******************* */

/* ******************start footer css ******************* */
.footer-subtitle {
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.1923076923em;
  line-height: 1.4;
  margin-bottom: 0.3076923077em;
  text-transform: uppercase;
}
.social-icon-section a {
  display: inline-block;
  padding: 0 5px;
}
/* ******************end footer css ******************* */
.contact-menu span {
  font-size: 13px;
  font-size: 0.8125rem;
  font-family: 'Circular Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: block;
  letter-spacing: 2px;
  text-align: right;
  text-transform: uppercase;
}
.contact-menu span {
  color: #fff;
  vertical-align: middle;
}
.contact-menu span a {
  color: #fff;
}
.contact-menu span.number {
  font-family: 'Miller Display', Georgia, serif;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.5px;
}
