body {
  color: #000;
  font-family: 'Miller Display', Georgia, serif;
  line-height: 1.7;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.abex-tour-primary-color {
  background-color: #c1aa7f !important;
}
.abex-tour-header {
  padding: 28px 0 22px !important;
}
.abex-tour-navigation {
  background-color: rgba(0, 0, 0, 0.8);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 101;
}

/* *****************container css start********************* */
.abex-tour-container {
  max-width: 1140px;
}
/* *****************container css end********************* */

.abex-tour-primary-btn {
  background-color: #c1aa7f !important;
  color: #fff;
}
